<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
{{> menu}}
<div class="main-container"><br>
    <div id="message_container">
        <div class="register_add">
            <h1>{{heading}}</h1>
            {{#if isAuthenticated}}
                <p><a class="form_button" href="/new_post">Add Post</a></p>
            {{else}}
                <p>
                    <a href="/registration" class="reg_link">Create an account to start posting!</a>
                </p>
            {{/if}}
                <p>
                    <select name="category" onChange="window.location.href=this.value">
                        <option selected>All Posts</option>    
                        <option value="/forum/school">School</option>
                        <option value="/forum/entertainment">Entertainment</option>
                        <option value="/forum/help">Help</option>
                        <option value="/forum/meta">Meta</option>
                        <option value="/forum/other">Other</option>
                    </select>
                </p>
        </div>
        <hr>

        <ul class="message_list">
            {{#each message}}
                <li><a href="/thread/{{_id}}">{{title}}</a><p style="font-size: 16px; text-align: right; margin-top: -24px"><a href="/forum/{{category}}">[{{category}}]</a></p>     
                    <p style="margin-bottom: -16px; font-size: 0.8em">Replies: {{replies}}</p>
                    <p class="poster">Posted by: {{username}} on {{date}}</p>
                    <hr>
                </li>
            {{/each}}
        </ul>
    </div>
    {{> footer}}
</div>
</body>
</html>