<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
{{> menu}}
<br>
<div class="profile">
    <img src={{image}} height="100" width="100" alt="{{username}}'s Image">
    <br>
    <br>
    <p>{{username}}</p>
    <p><i>{{description}}</i></p>

<a href="/user/{{username}}/threads">Find all threads by {{username}}</a>
</div>
<br>
<!-- Only appears if user is logged in and viewing own profile --->
<div class="updates">
{{#if isAuthenticated}}
{{#compare_user current_user username}}
<button id="update_img_button" onclick="show_update_img_form()">Update Image</button>
<br>
<form method="post" action="/update_img" id="update_img_form">
    Update your profile picture
    <br>
    <input type="url" name="image" placeholder="Image URL"></textarea>
    <br>
    <br>
    <input type="submit" value="Save" class="form_button">
    <br>
</form>
<br>
<button id="update_desc_button" onclick="show_update_desc_form()">Update Description</button>
<br>
<form method="post" action="/update_desc" id="update_desc_form">
    Update your profile description (max of 200 characters)
    <br>
    <textarea name="description" placeholder="Description" rows="2" cols="100" maxlength="200"></textarea>
    <br>
    <input type="submit" value="Save" class="form_button">
    <br>
</form>
<br>
    </div>
{{/compare_user}}
{{/if}}
{{> footer}}
</body>
<script src="/js/script.js"></script>
</html>
