<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
{{> menu}}
<br>
<div class="main-container"><br>
    <div id="profile-container">

        <div class="profile-body">
            <h1 id="profile-head">{{username}}'s Profile</h1>
            <hr>
            <div class="profile">

                <img id="profile-img" src={{image}} height="100" width="100" alt="{{username}}'s Image">
                <br><br>


                <div class="updates">
                    <!-- Only appears if user is logged in and viewing own profile --->
                    {{#if isAuthenticated}}
                        {{#compare_user current_user username}}
                            <button id="update_img_button" onclick="show_update_img_form()">Update Image</button>
                            <br>
                            <form method="post" action="/update_img" id="update_img_form">
                                <br>
                                <input class="urlinput" type="url" name="image" placeholder=" Image URL">
                                <br>
                                <br>
                                <input type="submit" value="Save" class="form_button">
                                <br>
                            </form>
                        {{/compare_user}}
                    {{/if}}
                </div>

            </div><br>

            <div class="desc-blurb">
                <p><i>{{description}}</i></p>
                <a href="/user/{{username}}/threads">Find all threads by {{username}}</a><br><br>
                <!-- Only appears if user is logged in and viewing own profile --->
                {{#if isAuthenticated}}
                {{#compare_user current_user username}}
                    <br>
                        <button id="update_desc_button" onclick="show_update_desc_form()">Update Description</button>
                        <br>
                        <form method="post" action="/update_desc" id="update_desc_form">
                            <br>
                            <textarea class="description" name="description" placeholder=" (max of 200 characters)" rows="2" cols="100" maxlength="200"></textarea>
                            <br><br>
                            <input type="submit" value="Save" class="form_button">
                            <br><br>
                        </form>
                {{/compare_user}}
                {{/if}}
            </div>

            <br>
            <div style="clear:both;"></div>

        </div>
    </div>
    {{> footer}}
</div>
</body>
<script src="/js/script.js"></script>
</html>
